<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>

<body>
    <img src="/images/champ.jpg" alt="">
    <div class="image">
        <a href="https://docs.microsoft.com/en-us/cpp/?view=msvc-160" target="_blank"> <img class="c"
                src="./images/C-C++.png" alt="" title="C-C++ Programming"></a>
        <a href="https://www.programiz.com/dsa" target="_blank"><img class="dsa" src="./images/DSA.png" alt=""
                title="Data Structure And Algorithms"></a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img class="js"
                src="./images/jslogo.png" alt="" title=" js Programming"></a>
        <a href="https://docs.python.org/3/" target="_blank"> <img class="python" src="/images/python.png" alt=""
                title="Python Programming"></a>
    </div>

</body>

</html>