<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/start.css">
    <title>Document</title>
</head>
<body>
  <div class="box">
      <img src="./images/champ.jpg" alt="champ" title="Champ">
       <button class="button"><a href="/start1"><b>Get Started
                                            »</b></a></button>

</div>
                                            <div class="image">
                                               <a href="https://docs.microsoft.com/en-us/cpp/?view=msvc-160" target="_blank"> <img class="c" src="./images/C-C++.png" alt="" title="C-C++ Programming"></a>
                                              <a href="https://www.programiz.com/dsa" target="_blank"><img class="dsa" src="./images/DSA.png" alt="" title="Data Structure And Algorithms"></a>
                                              <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img class="js" src="./images/JavaScript-logo.png" alt="" title=" js Programming"></a>
                                             <a href="https://docs.python.org/3/" target="_blank">  <img  class="python" src="/images/python-logo-4k-i6.jpg" alt="" title="Python Programming"></a> 
                                            </div>
  
</body>
</html>