
*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 100vh;
    position: relative;
    }




.box1{
    
    background-color: rgba(0,0,0,0.5);
    /* display:inline-table;  */
    align-items: center;
   position:absolute;
   top: 33%;
   left:50%;
   padding: 2%;
   justify-content: space-between;
   /* overflow: scroll; */

}

.box1 h1{
    margin-bottom: 30px;
    /* color: rgb(35, 17, 202); */
    color: rgba(97, 93, 93, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.box1 {
    color: aquamarine;
    display:flex;
    /* flex-wrap: nowrap; */
    border-radius: 4pc;

}

 .title{
         font-size: 48px;
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-weight: 300;
         /* background: linear-gradient(120deg,violet,black); */
         color:rgb(240, 235, 235);
         font-style: oblique;
         text-transform: capitalize;
         text-align: center;
         border-radius: 5ex;
         /* animation: 3 0.4 2s 2 left text; */
}
 .box1 form .entry input{
    height: 30px;
    width: 100%;
    color: #0d6363;
}


 .box1 form .entry .u-entry{
    display: inline-block;
     font-weight: 500%;
     margin-bottom: 5px ;
}




.box1 form .button {
    display: flex; 
    flex-wrap: wrap; 
    
    justify-content:left;
    /* margin: 30px 78px 0; */
 
 }
 .box1  form .button .button1 input{
     border-radius: 13px;
     height: 50px;
     width: 200px;
     background:linear-gradient(135deg,#91c73a,#9b59b6);
 }
 .box1   form .button .button2 input{
     width: 200px;
     height: 50px;
     border-radius: 13px;
     background:linear-gradient(135deg,#8babc0,#55f184);
 }
 .box1 form .button .button1 input:hover{
      background: linear-gradient(-13deg,#71b7e6,#9b59b6);
         color: #857e88;
 }
 
 .box1 form .button .button2 input:hover{
     background: linear-gradient(-13deg,#2d94d8,#aa0ce9);
     color: navajowhite;
 }


 

 @media (max-width:300px){
 /* body{ display: flex;
    flex-wrap: wrap;
    background: linear-gradient(135deg, violet,blueviolet);} */
    .box {
        max-width: 100%;
        background-color: #692a2a;
    }
    .box .main{
        max-width: 79%;
    }
   form .user-details .input{
        margin: 15px;
        width: 100px;
    }
  form .user-details {
        max-height:270px;
        overflow-y: scroll;
    }
    /* .user-details::-webkit-scrollbar{
        width: 10px;
    }  */
    form .button .button1{

        max-width: 140%;
        flex-direction: unset;
     
    }
    form .button .button2{
        max-width: 140%;
    }
}